.OurClients_heading {
  /* color: #2e4b85; */
  color: #1d9dd8;
  text-align: center;
  margin-bottom: 0;
  padding-top: 50px;
  font-size: 50px;
  font-weight: bolder;
}
.OurClients_paragraph {
  font-weight: 700;
  color: rgba(0, 0, 0, 0.767);
  margin-top: 0;
  text-align: center;
  font-size: 20px;
}
.client_logos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;
  /* margin: 15px 39px 15px 65px; */
  justify-items: center;
}
.logos {
  height: 12rem;
  width: 12rem;
}

footer {
  height: 4rem;
  color: rgba(255, 255, 255, 0.274);
  background-color: rgba(0, 0, 0, 0.904);
  display: flex;
  justify-content: space-around;
}
.footer_div {
  display: flex;
}
.footer_link {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.562);
  padding: 0 5px;
}
.footer_link:hover,
.footer_link:active {
  color: #1d9dd8;
}
.footer_icons {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.footer_icon {
  height: 2rem;
  width: 2.2rem;
  cursor: pointer;
}
.footer_icon:hover,
.footer_icon:active {
  color: #1d9dd8;
}
