.WhoWeAre {
  /* background-color: #2e4b85; */
  background-color: rgba(255, 255, 255, 0.075);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  padding: 0 100px;
}
.promise_heading,
.promise_paragraph {
  text-align: center;
}
.promise_heading {
  margin-top: 85px;
  margin-bottom: 0;
  font-size: 45px;
  /* color: #2e4b85; */
  color: #1d9dd8;
  font-weight: 700;
}
.promise_paragraph {
  font-size: 20px;
  margin-bottom: 90px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.822);
}
.team {
  width: 100%;
}
.image {
  object-fit: cover;
  /* width: 90rem; */
}

/* ************************************* */
